<template lang="pug">
  .exchange.p-12.min-h-96.flex.flex-col
    h2.font-medium.text-3xl Exchange EUR to BTC
    hr.my-6
    .input.flex.justify-between.h-12.bg-white
      input( placeholder="Pay Amount" v-model.number="baseValue")
      select(v-model="selectedBaseCurrency" class="bg-blue-400")
        option(v-for="(item, idx) in availableBaseCurrencies" :key="idx" :value="item.code" class="bg-white") {{item.code}}
    div.mt-8.flex.justify-end
      span(@click="swap").material-icons.mr-4.cursor-pointer compare_arrows
    .input.flex.justify-between.h-12.bg-white.mt-8
      input( placeholder="Get Amount" :value="quoteWithCommission" disabled=true)
      select(v-model="selectedQuoteCurrency" class="bg-blue-400" :disabled="!selectedBaseCurrency")
        option(v-for="(item, idx) in pairs" :key="idx" class="bg-white") {{item.quote_currency}}
</template>

<script>
  import {mapGetters, mapActions} from 'vuex'

  export default {
    name: "ExchangeCard",
    data() {
      return {
          baseValue: 1,
          selectedBaseCurrency: undefined,
          selectedQuoteCurrency: undefined,
      }
    },

    mounted() {
      const data = localStorage.getItem("SelectedItems");

      if (data) {

        this.selectedBaseCurrency = JSON.parse(data).base
        this.selectedQuoteCurrency = JSON.parse(data).quote
      }

      if (!this.getCurrencyPairs.length) {
        this.generateCurrencyPairs()
      }
    },
    watch: {
      baseValue() {
        if(this.baseValue < 0 || typeof(this.baseValue) !== "number" ) this.baseValue = 1
      },
      quoteValue() {
          if (true) {
            localStorage.setItem("SelectedItems", JSON.stringify({base: this.selectedBaseCurrency, quote: this.selectedQuoteCurrency }))
            this.$emit("updateInfo", {baseValue: this.baseValue, rate: this.rate, selectedBaseCurrency: this.selectedBaseCurrency, selectedQuoteCurrency: this.selectedQuoteCurrency})
          }
      }
    },
    computed: {
      ...mapGetters('currency', ['getCurrencyPairs', 'currencies', 'exchangeRates']),
      availableBaseCurrencies() {
        return this.currencies.filter(i => i.code !== this.selectedQuoteCurrency)
      },
      pairs() {
        let pairsForSelected = this.getCurrencyPairs.filter(i => i.base_currency === this.selectedBaseCurrency || i.quote_currency === this.selectedBaseCurrency)
        return pairsForSelected.map(i => {
          if (i.base_currency !== this.selectedBaseCurrency && i.quote_currency === this.selectedBaseCurrency) {
            return {...i, base_currency: i.quote_currency, quote_currency: i.base_currency}
          }
          return i
        })
      },
      quoteValue() {
        if (this.baseValue && this.rate) {
          return (this.baseValue >= 1 ? (this.baseValue / this.rate).toFixed(2) : (this.baseValue / this.rate).toPrecision(2))
        }
        return this.baseValue
      },
      quoteWithCommission() {
        return this.quoteValue - this.currentCommission
      },
      rate() {
        if (this.selectedBaseCurrency && this.selectedQuoteCurrency) {
          let pair = this.exchangeRates.find(i => i.pair.includes(this.selectedBaseCurrency) && i.pair.includes(this.selectedQuoteCurrency))
          if (pair.pair[0] === this.selectedBaseCurrency) {
            return (1 / pair.rate).toPrecision(4)
          } else {
            return pair.rate.toPrecision(4)
          }
        }
        return 0
      },
      currentCommission() {
        if (this.selectedBaseCurrency && this.selectedQuoteCurrency) {
          return this.quoteValue * this.getCurrencyPairs.find(i => {
            return (i.base_currency === this.selectedBaseCurrency && i.quote_currency === this.selectedQuoteCurrency) ||
              (i.base_currency === this.selectedQuoteCurrency && i.quote_currency === this.selectedBaseCurrency)
          }).commission / 100
        }
        return 0
      }
    },
    methods: {
      ...mapActions('currency', ['generateCurrencyPairs']),
      swap() {
        if (this.selectedBaseCurrency, this.selectedQuoteCurrency) {
          [this.selectedBaseCurrency, this.selectedQuoteCurrency] = [this.selectedQuoteCurrency, this.selectedBaseCurrency]
        }
      }
    }
  }
</script>

<style lang="scss">
  .input {
    overflow: hidden;
    border: 1px solid #393939;
    border-radius: 5px;

    input {
      height: 100%;
      width: 100%;
      padding-left: 1rem;
      /*margin-right: 1px;*/
    }

    select {
      border-left: 1px solid #393939;
      min-width: 6rem;
      padding-left: 16px;
      cursor: pointer;
      outline: none;
      color: white;

      option {
        color: black;
      }
    }
  }
</style>
