<template lang="pug">
  .flex.justify-between.sticky.top-0.px-12.py-4.bg-blue-400.shadow-md.text-white.text-lg.leading-6
    nuxt-link(to="/")
      .flex.items-center
        span.material-icons.mr-2 stars
        span  CoinLoanTest
    nuxt-link(to="/")
      .flex.items-center
        span.material-icons.mr-2 account_circle
        span Опции
</template>

<script>
    export default {
        name: "Header"
    }
</script>

<style scoped>

</style>
