<template lang="pug">
  .px-6
    ul
      li(v-for="n in 10 " :key="n" class="py-3")
        nuxt-link(to="/" class="flex items-center")
          span(class="material-icons mr-4") label
          span {{n +' - Вкладка'}}
</template>

<script>
  export default {
    name: "SideBar"
  }
</script>

<style scoped>

</style>
