<template lang="pug">
  .summary.p-12.min-h-96.flex.flex-col
    h2.font-medium.text-3xl Summary
    hr.my-6
    ul
      li.flex.justify-between.my-2
        span {{`Your ${info.selectedBaseCurrency} Balance`}}
        span.font-medium {{`0 ${info.selectedBaseCurrency}`}}
      li.flex.justify-between.my-2
        span {{`Your ${info.selectedQuoteCurrency} Balance`}}
        span.font-medium {{`0 ${info.selectedQuoteCurrency}`}}
      li.flex.justify-between.my-2
        span Exchange Rate
        span.font-medium {{ `1  ${info.selectedBaseCurrency} =  ${info.rate}  ${info.selectedQuoteCurrency} `}}
      li.flex.justify-between.my-2
        span Next Update
        span.font-medium {{ `in  ${timer}  ${timer > 1 ? 'seconds' : 'second'}   `}}

    button.w-full.h-10.rounded-md.mt-8.bg-blue-400.text-white( @click="() => {$router.replace({ path: '/success' })}"  class="hover:bg-blue-500") Exchange
</template>

<script>
  import {mapActions} from 'vuex'
  export default {
    name: "Summary",
    props: {
      info:{
        type: Object,
        required: true
      }
    },
    data() {
      return {
        timer: 0,
      }
    },
    mounted() {
      this.timer = 10
      this.updateTimer = setInterval(() => {
        if(--this.timer === 0) {
          this.generateCurrencyPairs()
          this.timer = 10

        }

      }, 1000)
    },
    beforeDestroy() {
      clearInterval(this.updateTimer)
    },

    methods: {
      ...mapActions('currency', ['generateCurrencyPairs']),
    }

  }
</script>
