<template lang="pug">
  .max-h-screen.overflow-hidden.h-screen
    Header
    .grid.grid-cols-12.gap-2.h-full
      .col-span-4.pt-6(class="xl:col-span-2 md:col-span-3")
        SideBar
      .col-span-8.mdmax-h-screen.overflow-y-auto.pt-9.bg-gray-100(class="xl:col-span-10 md:col-span-9")
        Nuxt
</template>

<script>
  import SideBar from "../components/SideBar";
  import Header from "../components/Header";

  export default {
    components: {
      SideBar,
      Header,
    }
  }
</script>
