<template lang="pug">
  .container.mx-auto.px-8
    h1.text-xl.font-semibold.flex.items-center
      span.material-icons.mr-4 compare_arrows
      span.text-3xl Crypto Exchange
    .grid.grid-cols-6.gap-2.mt-8
      Card.col-span-6.border.shadow-md(class="lg:col-span-3" @updateInfo="update")
      Summary.col-span-6.border.shadow-md(v-if="info.rate" class="lg:col-span-3" :info="info")
</template>

<script>
  import Summary from "../components/Summary";
  import Card from "../components/ExchangeCard";

  export default {
    name: 'IndexPage',
    components: {Summary, Card},

    data() {
      return {
        info: {},
      }
    },
    methods: {
      update(data) {
        this.info = data
      },
    }
  }
</script>

<style lang="scss">

</style>
