<template lang="pug">
    .flex.justify-center.items-center.h-full.text-xl.mx-auto
      span.material-icons.text-8xl.text-green-500 done
      span Успешно!
</template>

<script>
    export default {
        name: "success"
    }
</script>

<style scoped>

</style>
